<div class="container py-3 bg-light bd-footer mw-100 m-4">
    <div class="row container text-center ms-auto me-auto">
        <div class="col">
            <a class="text-decoration-none text-muted px-3" href="/">Steuerberater Jens Barfuß</a>
        </div>
        <div class="col">
            <a class="text-decoration-none text-muted " href="mailto: test@test.de">Email</a>
        </div>
        <div class="col">
            <a class="text-decoration-none text-muted " href="/impressum">Impressum</a>
        </div>
        <div class="col">
            <a class="text-decoration-none text-muted " href="/datenschutz">Datenschutz</a>
        </div>
    </div>
</div>
