
<div class="py-1 ">
    <nav class="navbar navbar-expand-lg navbar-light bg-light"mw-100>
        <div class="container">
            <ul class="me-auto">
                <a class="navbar-brand navbar-left" href="/">
                    <img src="images/logo.png">
                </a>
            </ul>

                <ul class="nav navbar-nav p-4">
                    <li class="nav-item">
                        <a class="m-4 h2 text-decoration-none" style="color: #0074BC" href="/leistungen">Leistungen</a>
                    </li>
                    <li class="nav-item">
                        <a class="m-4 h2 text-decoration-none" style="color: #0074BC" href="/karriere">Karriere</a>
                    </li>
                    <li class="nav-item">
                        <a class="m-4 h2 text-decoration-none" style="color: #0074BC" href="/team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="m-4 h2 text-decoration-none" style="color: #0074BC" href="/kontakt">Kontakt</a>
                    </li>
                </ul>
        </div>
    </nav>
</div>
