<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('../partials/head');%>
</head>
<header>
    <%- include('../partials/header');%>
</header>
<main class="container">
    <div class="container">
        <p>
            Jens Barfuß <br>
            Steuerberater <br>
            <br>
            Donnerschweer Straße 398<br>
            26123 Oldenburg<br>
            <br>
            Telefon: 0441/570306-0 <br>
            Telefax: 0441/570306-29<br>
        </p>
        <p>
            Die gesetzliche Berufsbezeichnung Steuerberater wurde in der Bundesrepublik Deutschland erworben.

            Zuständige Aufsichtsbehörde und Kammer
            Steuerberaterkammer Niedersachsen
            Adenauerallee 20
            30175 Hannover
            Tel.: +49 511 28890-0

            Berufsrechtliche Regelungen
            Der Berufsstand der Steuerberater unterliegt im
            Wesentlichen den folgenden gesetzlichen Regelungen:

            Steuerberatungsgesetz (StBerG)
            Durchführungsverordnung zum Steuerberatungsgesetz (DVStB)
            Berufsordnung (BOStB)
            Steuerberatergebührenverordnung (StBGebV)
            Die berufsrechtlichen Regelungen können auf der Homepage der Bundessteuerberaterkammer (www.bstbk.de) eingesehen werden.

            Steuernummer
            64/102/07216
        </p>
    </div>
</main>
<footer>
    <%- include('../partials/footer');%>
</footer>
</html>