<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('../partials/head');%>
</head>
<header>
    <%- include('../partials/header');%>
</header>
<main>
    <div class="" style="background-color: #0074BC">
        <div class="row py-5 container ms-auto me-auto">
            <div class="col-sm-6 p-5">
                <article class="word-break " style="word-break: break-all">
                    lalalallalalallalalallalalallalalallala
                    lallalalallalalallalalallalalallalalallalalallalalallalalal lalalallalalallalalallalalallalalallalalallalalallalalallalalallalalallalalallalalallalalallalalallalalallalalallalalal
                </article>
                <div class="text-center">
                    <a class="p-3 m-2  btn btn-light" style="color: #0074BC" href="/kontakt?re=bewerbung">Bewerbung senden</a>
                </div>
            </div>
            <div class="col-sm-6 p-5">
                <img class="mx-auto  my-auto d-block shadow-lg" src="images/keta.png">
            </div>
        </div>
    </div>

</main>
<footer>
    <%- include('../partials/footer');%>
</footer>
</html>