<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('../partials/head');%>
</head>
<header>
    <%- include('../partials/header');%>
</header>
<main class="container">

</main>
<footer>
    <%- include('../partials/footer');%>
</footer>
</html>