<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('../partials/head');%>
</head>
<header>
    <%- include('../partials/header');%>
</header>
<main class="container">
    <div>
       <p class="display-6">Steuerberatung</p>
    </div>
    <div>
        <p class="display-6">Jahresabschlußerstellung</p>
    </div>
    <div>
        <p class="display-6">Unternehmensbewertung</p>
    </div>
    <div>
        <p class="display-6">Vermögensverwaltung</p>
    </div>
    <div>
        <p class="display-6">individuelle Betreuung</p>
    </div>
</main>
<footer>
    <%- include('../partials/footer');%>
</footer>
</html>