<!DOCTYPE html>
<html lang="de">
<head>
    <%- include('../partials/head');%>
</head>
<header>
    <%- include('../partials/header');%>
</header>
<main>
    <div class="container">
        <p class="display-5">Team</p>
        <p>Das Team stellt sich vor</p>
        <div class="row">
            <div class="card m-1 shadow" style="width:400px">
                <img class="card-img-top" src="images/2.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title" style="color: #0074BC">Paul</h4>
                    <p class="card-text">13 Jahre alt</p>
                </div>
            </div>
            <div class="card m-1 shadow" style="width:400px">
                <img class="card-img-top" src="images/2.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title" style="color: #0074BC">Paul</h4>
                    <p class="card-text">13 Jahre alt</p>
                </div>
            </div>
            <div class="card m-1 shadow" style="width:400px">
                <img class="card-img-top" src="images/2.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title" style="color: #0074BC">Paul</h4>
                    <p class="card-text">13 Jahre alt</p>
                </div>
            </div>
            <div class="card m-1 shadow" style="width:400px">
                <img class="card-img-top" src="images/2.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title" style="color: #0074BC">Paul</h4>
                    <p class="card-text">13 Jahre alt</p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <%- include('../partials/footer');%>
</footer>
</html>